//
// COLORS
// Use http://www.color-blindness.com/color-name-hue/ for color naming
// -----------------------------------------------------------------------------

$primary-color: #121212;

$brown5: #CD845C;

$green1: #E6F6F7;
$green2: #A1DBE4;
$green5: #00A2B1;
$green7: #1B4855;

$black: #000000;
$white: #FFFFFF;
$red7: #FF0000;
//
// MAP-GET() ARRAYS
// -----------------------------------------------------------------------------

//$colors-section-example: (
//    text: $color,
//    border: $color
//);